<section data-ng-controller="TravelReimbursementsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Edit Travel Reimbursement</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/travel-reimbursements">TravelReimbursement</a>
          </li>
          <li class="active">
            <strong>Edit Travel Reimbursement</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="entryNo">Entry No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="travelreimbursement.entryNo" id="entryNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="entryDate">Entry Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="travelreimbursement.entryDate" id="entryDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="employeeName">Employee Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="travelreimbursement.employeeName" id="employeeName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partnerName">Partner Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="travelreimbursement.partnerName" id="partnerName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>