<section data-ng-controller="InvoicesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Edit Invoice</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/invoices">Invoice</a>
          </li>
          <li class="active">
            <strong>Edit Invoice</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="invoiceNo">Invoice No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.invoiceNo" id="invoiceNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="invoiceDate">Invoice Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="invoice.invoiceDate" id="invoiceDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dueDate">Due Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="invoice.dueDate" id="dueDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="clientName">Client Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.clientName" id="clientName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="mainPartner">Main Partner</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.mainPartner" id="mainPartner" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobDoneFor">Job Done For</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.jobDoneFor" id="jobDoneFor" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="netAmount">Net Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.netAmount" id="netAmount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="totalAmount">Total Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.totalAmount" id="totalAmount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="amountAlreadyDue">Amount Already Due</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.amountAlreadyDue" id="amountAlreadyDue" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="totalBalanceDue">Total Balance Due</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.totalBalanceDue" id="totalBalanceDue" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="amountInWords">Amount In Words</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.amountInWords" id="amountInWords" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="serviceTax">Service Tax</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.serviceTax" id="serviceTax" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="serviceTaxAmount">Service Tax Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.serviceTaxAmount" id="serviceTaxAmount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="eduCess">Edu Cess</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.eduCess" id="eduCess" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="eduCessAmount">Edu Cess Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.eduCessAmount" id="eduCessAmount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="secEduCess">Sec Edu Cess</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.secEduCess" id="secEduCess" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="secEduCessAmount">Sec Edu Cess Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoice.secEduCessAmount" id="secEduCessAmount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="remarks">Remarks</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoice.remarks" id="remarks" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>