<section data-ng-controller="InvoicesController" data-ng-init="find()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>List Invoice</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#!/">Home</a>
        </li>
        <li class="active">
          <strong>List Invoice</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="alert alert-warning text-center" data-ng-hide="!invoices.$resolved || invoices.length">
      No Invoices yet, why don't you <a href="/#!/invoices/create">create one</a>?
    </div>  
    <div class="row" data-ng-show="invoices.length>0">
      <div class="col-sm-8">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Invoices ({{invoices.length}})</h5>
            <div class="ibox-tools">
              <a href="/#!/invoices/create" class="btn btn-primary btn-xs">Create</a>
            </div>
          </div>
            
          <div class="ibox-content">
            <div class="input-group">
              <input type="text" placeholder="Search invoice" class="input form-control">
              <span class="input-group-btn">
                  <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
              </span>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                    
                    <th>Invoice No</th>
                    
                    <th>Invoice Date</th>
                    
                    <th>Due Date</th>
                    
                    <th>Job No</th>
                    
                    <th>Client Name</th>
                    
                    <th>Main Partner</th>
                    
                    <th>Job Done For</th>
                    
                    <th>Net Amount</th>
                    
                    <th>Total Amount</th>
                    
                    <th>Amount Already Due</th>
                    
                    <th>Total Balance Due</th>
                    
                    <th>Amount In Words</th>
                    
                    <th>Service Tax</th>
                    
                    <th>Service Tax Amount</th>
                    
                    <th>Edu Cess</th>
                    
                    <th>Edu Cess Amount</th>
                    
                    <th>Sec Edu Cess</th>
                    
                    <th>Sec Edu Cess Amount</th>
                    
                    <th>Remarks</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="invoice in invoices">
                    
                    <td>{{ invoice.invoiceNo }}</td>
                    
                    <td>{{ invoice.invoiceDate }}</td>
                    
                    <td>{{ invoice.dueDate }}</td>
                    
                    <td>{{ invoice.jobNo }}</td>
                    
                    <td>{{ invoice.clientName }}</td>
                    
                    <td>{{ invoice.mainPartner }}</td>
                    
                    <td>{{ invoice.jobDoneFor }}</td>
                    
                    <td>{{ invoice.netAmount }}</td>
                    
                    <td>{{ invoice.totalAmount }}</td>
                    
                    <td>{{ invoice.amountAlreadyDue }}</td>
                    
                    <td>{{ invoice.totalBalanceDue }}</td>
                    
                    <td>{{ invoice.amountInWords }}</td>
                    
                    <td>{{ invoice.serviceTax }}</td>
                    
                    <td>{{ invoice.serviceTaxAmount }}</td>
                    
                    <td>{{ invoice.eduCess }}</td>
                    
                    <td>{{ invoice.eduCessAmount }}</td>
                    
                    <td>{{ invoice.secEduCess }}</td>
                    
                    <td>{{ invoice.secEduCessAmount }}</td>
                    
                    <td>{{ invoice.remarks }}</td>
                    
                    
                    <td><a class="glyphicon glyphicon-edit" href="/#!/invoices/{{invoice._id}}/edit"></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>