<section class="content-header" data-ng-controller="InvoicesController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>View Invoice</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/invoices">Invoice</a>
          </li>
          <li class="active">
            <strong>View Invoice</strong>
          </li> 
        </ol>            
    </div>
  </div>
</section>  
<section class="content">
  <!-- general form elements -->
  <div class="box box-primary" data-ng-show="((authentication.user) && (authentication.user._id == leave.user._id))">
    <div class="box-body">
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/invoices/{{invoice._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal">
            
            <dt>Invoice No</dt><dd>{{ invoice.invoiceNo }}</dd>
            
            <dt>Invoice Date</dt><dd>{{ invoice.invoiceDate }}</dd>
            
            <dt>Due Date</dt><dd>{{ invoice.dueDate }}</dd>
            
            <dt>Job No</dt><dd>{{ invoice.jobNo }}</dd>
            
            <dt>Client Name</dt><dd>{{ invoice.clientName }}</dd>
            
            <dt>Main Partner</dt><dd>{{ invoice.mainPartner }}</dd>
            
            <dt>Job Done For</dt><dd>{{ invoice.jobDoneFor }}</dd>
            
            <dt>Net Amount</dt><dd>{{ invoice.netAmount }}</dd>
            
            <dt>Total Amount</dt><dd>{{ invoice.totalAmount }}</dd>
            
            <dt>Amount Already Due</dt><dd>{{ invoice.amountAlreadyDue }}</dd>
            
            <dt>Total Balance Due</dt><dd>{{ invoice.totalBalanceDue }}</dd>
            
            <dt>Amount In Words</dt><dd>{{ invoice.amountInWords }}</dd>
            
            <dt>Service Tax</dt><dd>{{ invoice.serviceTax }}</dd>
            
            <dt>Service Tax Amount</dt><dd>{{ invoice.serviceTaxAmount }}</dd>
            
            <dt>Edu Cess</dt><dd>{{ invoice.eduCess }}</dd>
            
            <dt>Edu Cess Amount</dt><dd>{{ invoice.eduCessAmount }}</dd>
            
            <dt>Sec Edu Cess</dt><dd>{{ invoice.secEduCess }}</dd>
            
            <dt>Sec Edu Cess Amount</dt><dd>{{ invoice.secEduCessAmount }}</dd>
            
            <dt>Remarks</dt><dd>{{ invoice.remarks }}</dd>
            
          </dl>
        </div>
      </div>
      
    </div><!-- /.box-body -->
  </div><!-- /.box -->
<section>
